<section class="gh-canvas">
    <header class="gh-canvas-header">
        <h2 class="gh-canvas-title" data-test-screen-title>实验功能</h2>
    </header>

    <div class="gh-content">
        {{gh-loading-spinner}}
    </div>
</section>
