<section class="gh-view">
    <header class="view-header">
        {{#gh-view-title}}<span>标签</span>{{/gh-view-title}}
        <section class="view-actions">
            {{#link-to "settings.tags.new" class="gh-btn gh-btn-green"}}<span>新标签</span>{{/link-to}}
        </section>
    </header>

    <div class="gh-content">
        {{gh-loading-spinner}}
    </div>
</section>
