<div class="no-posts-box">
    <div class="no-posts">
        <h3>你还没有添加任何标签！</h3>
        {{#link-to "settings.tags.new"}}<button type="button" class="gh-btn gh-btn-green btn-lg" title="New Tag"><span>新增一个标签</span></button>{{/link-to}}
    </div>
</div>
